/* src/styles/Folder.module.css */
.folder {
    background-color: #3a3a3a;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap:0.5rem;
  }
  
  .folder:hover {
    background-color: #4a4a4a;
  }
  