

.button {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: 8px;
    font-weight: 600;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    background-color: #808080;
    height: 270px;
    min-width: 40px;
    font-size: 16px;
    color: #fff;
    white-space: normal;
    opacity: 1;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 225px;
  }
  .delete_btn{
    font-size: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    color: #F55050;
    background: transparent;
  }