.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 800px; /* Larger width for desktop */
    height: 90vh; /* More vertical space */
    margin: 0 auto;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    /* background-color: #ffffff; */
    /* overflow-y: hidden; */
  }
  body{
    overflow-y: auto;
  }
  
  .messageContainer {
    flex-grow: 1;
    /* overflow-y: auto; */
    padding: 0 10px;
    margin-bottom: 20px;
  }
  
  .messageWrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .disabled{
    border: none !important;
    background-color: #777777 !important;
    color: #fff;
  }
  .messageWrapperUser {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .messageBubble {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    max-width: 50%;
  }
  
  .messageBubbleUser {
    background-color: #0084ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
  }
  .sendIcon{
    width: 24px;
    height: 24px;
  }
  
  .userIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .messageText {
    display: inline-block;
    word-wrap: break-word;
    color:#303235;
  }
  
  .messageTextUser {
    word-wrap: break-word;
    text-align: right;
  }
  
  .chatImage {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  /* input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  input[type="phone"],
  input[type="rating"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
  } */
   .sendBtn{
    background-color: #1A5FFF;
    border: none;
    color:#ffffff;
   }
  .inputBox{
    display: flex;
    justify-content: center;
    max-width: 350px;
    
  }
  .inputField {
    flex-grow: 1;
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    width: 100%;
  }
  
  .inputButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0084ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .inputButton:hover {
    background-color: #006bb3;
  }
  
  /* button {
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    background-color: #0084ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* button:hover {
    background-color: #006bb3;
  } */
  
  @media (max-width: 768px) {
    .messageBubble,
    .messageBubbleUser {
      max-width: 100%;
    }
  
    .inputContainer {
      flex-direction: column;
    }
  
    /* button {
      margin-top: 10px;
    } */
  }
  
  .ratingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Space between the circles */
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .ratingCircle {
    width: 24px;
    height: 25px;
    background-color: #1a73e8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ratingCircle:hover {
    background-color: #0f60c4; /* Slightly darker blue on hover */
  }
  
  .selected {
    background-color: #f7941d; /* Orange color for selected rating */
  }
  