/* src/components/Login.module.css */

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    position: relative;
    overflow: hidden;
    color: var(--colors-whiteAlpha-900);;
  }
  
  .triangle {
    position: absolute;
    left: 2%;
    /* top: 30%; */
    /* width: 0;
    height: 0; */
    /* border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #ff7300; */
  }
  
  .formContainer {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    min-width: 300px;
  }
  
  .backButton {
    position: absolute;
    top: 10%;
    left: 5%;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .inputGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .inputGroup label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginButton:hover {
    background-color: #0056b3;
  }
  
  .registerText {
    color: #888;
    margin-top: 20px;
  }
  
  .registerText a {
    color: #007bff;
    text-decoration: none;
  }
  
  .registerText a:hover {
    text-decoration: underline;
  }
  
  /* .circles {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  } */
  
  .circle1 {
    width: 100px;
    height: 100px;
    /* background-color: #ff7300; */
    /* border-radius: 50%; */
    right: 0;
    top: 10%;
    position: absolute;
    display: inline-block;
    position: absolute;
  }
  .circle2 {
    position: absolute;
    /* width: 100px;
    height: 100px; */
    position: absolute;
    bottom: 0;
    /* background-color: #ff7300; */
    /* border-radius: 50%; */
    /* margin: 10px; */
    display: inline-block;
  }
  .errorMessage {
    color: #F56565;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
  }

  .red{
    color: red;
  }

  .errorLabel {
    color: #F56565 !important; /* Change label color to red if there's an error */
  }
  
  .errorInput {
    border-color: #F56565 !important; /* Change input border color to red if there's an error */
  }
  